<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boding"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!--连接网络权限，用于执行云端语音能力 --> 
    <uses-permission android:name="android.permission.INTERNET"/> 
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
	<uses-permission android:name="android.permission.RECORD_AUDIO"/> 
	<!--读取网络信息状态 --> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<!--获取当前wifi状态 --> 
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
	<!--允许程序改变网络连接状态 -->
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> 
	<!--读取手机信息权限 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
	<!--读取联系人权限，上传联系人需要用到此权限 --> 
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.boding.app.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boding.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.DateSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.CitySelectActivityADiscard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.CitySelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.TicketSearchResultActivity"
            android:label="@string/title_activity_international_ticket_search_result"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.CitySelectActivityTestSearch"
            android:label="@string/title_activity_international_ticket_search_result"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.VoiceSearchActivity"
            android:label="@string/title_activity_international_ticket_search_result"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.OrderFormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.ChoosePassengerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.JourneySheetDeliveryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.ChooseDeliveryAddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.AddDeliveryAddrActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.AddPassengerInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.NationalitySelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.boding.app.OrderPaymentActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.BankCardSelectActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.MyBodingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.MyPersonalInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.EditPersonalInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.ChangePasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.ChangePhonenumActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.VerifyPhonenumActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.OrderListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.InsuranceSelectionActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.OrderDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.CommonInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.CommonInfoMDeliverAddrActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.CommonInfoMPassengerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.boding.app.SetNewPasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
